[GLOBAL]
pants_version = "2.14.0"

pythonpath = [
   "%(buildroot)s/pants-plugins/kustomize",
   "%(buildroot)s/pants-plugins/oci",
   "%(buildroot)s/pants-plugins/k8s",
   "%(buildroot)s/pants-plugins/mdbook",
   "%(buildroot)s/pants-plugins/bitwarden",
   "%(buildroot)s/pants-plugins/secrets",
]

backend_packages = [
  "pants.backend.python",
  "pants.backend.experimental.python",

  "pants.backend.python.lint.black",
  "pants.backend.python.lint.isort",
  "pants.backend.python.lint.flake8",

  "pants.backend.plugin_development",
  "pants_backend_mdbook",
  "pants_backend_kustomize",
  "pants_backend_k8s",
  "pants_backend_oci",
  "pants_backend_bitwarden",
  "pants_backend_secrets",
]

[source]
root_patterns = [
  '/',
  '/pants-plugins',
]
marker_filenames = ["pyproject.toml"]

[anonymous-telemetry]
enabled = true
repo_id = "e32e6905-7a7d-405f-82b1-86d2723b0c4d"

[python]
tailor_pex_binary_targets = true
interpreter_constraints = [">=3.7,<3.10"]
enable_resolves = true
default_resolve = "pants-plugins"

[python.resolves]
pants-plugins = "pants-plugins/lock.txt"

[python.resolves_to_interpreter_constraints]
pants-plugins = [">=3.7,<3.10"]
